<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

      <link rel='stylesheet' href='/stylesheets/style.css' />

<!--
      <script src="https://js.braintreegateway.com/web/3.78.2/js/client.min.js"></script>
      <script src="https://js.braintreegateway.com/web/3.78.2/js/venmo.min.js"></script>
      <script src="https://js.braintreegateway.com/web/3.78.2/js/data-collector.min.js"></script>
-->

<!--
      &lt;!&ndash; Load the client component. &ndash;&gt;
      <script src="https://js.braintreegateway.com/web/3.78.3/js/client.min.js"></script>

      &lt;!&ndash; Load the PayPal Checkout component. &ndash;&gt;
      <script src="https://js.braintreegateway.com/web/3.78.3/js/paypal-checkout.min.js"></script>
-->


      <script src="https://js.braintreegateway.com/web/dropin/1.30.1/js/dropin.min.js"></script>

      <script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
